* {
    font-family: 'Poppins';
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(img/af0a67acb1da6998995b122e169725d1.png);
}

.navbar {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.login {
    margin-right: 0;
}

@media (min-width: 768px) {
    .navbar li:last-child {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

.form {
    max-width: 38%;
    margin: 0 auto;
    margin-top: 100px;
}

.btn {
    position: fixed;
    margin-top: 50px;
    left: 45%;
    transform: translate(-50%, -50%);
}

.btn-2 {
    position: fixed;
    margin-top: 50px;
    left: 55%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .navbar li:last-child {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .form {
        max-width: 50%;
        margin: 0 auto;
        margin-top: 100px;
    }
}

.radio-container {
    margin-top: 25px;
}